<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ویرایش مقاله جدید</title>
</head>
<body>
    <h1>ویرایش مقاله</h1>

    <form action="" method="post">
        <label>عنوان :</label>
        <input type="text" name="title" required><br><br>

        <label>محتوا :</label>
        <textarea name="content" cols="5" rows="50"></textarea>

        <button type="submit">ویرایش پست</button>
    </form>
</body>
</html>