<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به حساب کاربری</title>
</head>
<body>
    <h1>ورود به حساب کاربری</h1>

    <form method="post">
        <label>نام کاربری</label>
        <input type="text" name="username" required><br><br><br>
        <label>رمز عبور</label>
        <input type="password" name="password" required><br><br><br>

        <button type="submit">ورود</button>
    </form>
    
</body>
</html>