<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
</head>
<body>
    <h1>ثبت نام</h1>
    {% with message = get_flash_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form method="post">
        <label>نام کاربری</label>
        <input type="text" name="username" required><br><br><br>
        <label>ایمیل</label>
        <input type="email" name="email" required><br><br><br>
        <label>رمز عبور</label>
        <input type="password" name="password" required><br><br><br>

        <button type="submit">ثبت نام</button>
    </form>
    <p>تمرین امروز:یه دکمه لاگ اوت و بک اند دکمه را برای جلسه بعدی حاضر کنید</p>
</body>
</html>